.vscode
pdfs
app/__pycache__
test/*.json
CodingRevision/data
AIO2025 - Mein Code/Streamlit

*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.webp

*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

*.exe
*.dll
*.so
*.dylib
*.app

*.zip
*.gz
*.tar
*.bz2
*.rar
*.7z

*.aux
*.bbl
*.bbl-SAVE-ERROR
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)

*.class
*.bin

__pycache__
*/pycache/inventory_optimization
